<ion-tabs>

  <ion-tab-bar slot="bottom">

    <!-- Tab 1 -->
    <ion-tab-button tab="tab1" routerLink="/tabs/tab1">
      <ion-icon aria-hidden="true" name="phone-portrait" style="color: #ffffff;"></ion-icon>
      <ion-label style="color: #ffffff;">Découvrir</ion-label>
    </ion-tab-button>

    <!-- Search Tab -->
    <ion-tab-button tab="search" routerLink="/tabs/search">
      <ion-icon aria-hidden="true" name="search" style="color: #ffffff;"></ion-icon>
      <ion-label style="color: #ffffff;">Search</ion-label>
    </ion-tab-button>

    <!-- Tab 2 -->
    <!-- <ion-tab-button tab="tab2" routerLink="/tabs/tab2">
      <ion-icon aria-hidden="true" name="grid" style="color: #ffffff;"></ion-icon>
      <ion-label style="color: #ffffff;">Parfums</ion-label>
    </ion-tab-button> -->

    <!-- Tab 3 -->
    <!-- <ion-tab-button tab="tab3" routerLink="/tabs/tab3">
      <ion-icon aria-hidden="true" name="ellipsis-vertical" style="color: #ffffff;"></ion-icon>
      <ion-label style="color: #ffffff;">Marques</ion-label>
    </ion-tab-button> -->

    <!-- Profile Tab -->
    <ion-tab-button tab="profile" routerLink="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-outline" style="color: #ffffff;"></ion-icon>
      <ion-label style="color: #ffffff;">Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
