/* src/app/app.component.scss */

ion-tab-bar{
    border-radius: 40px 40px 0px 0px;
    --background: linear-gradient(to right, #000000, #000000);
    --background-size: 200% auto; /* Ensure the gradient is wider than the viewport */
    animation: wave 10s infinite linear;
    padding: 0px 23px;
  }
