ion-content {
  font-family: 'Playfair Display', serif;
  --background: #ffffff; /* Set the background color for the ion-content */
}
ion-header {
  font-family: 'Playfair Display', serif;
  height: 90px;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 200px 75px;
  border-bottom-right-radius: 200px 75px;

  ion-toolbar {
    display: flex;
    /* align-items: center; */
    position: relative;
    justify-content: center;
    height: 100%;
    --background: linear-gradient(to right, #000000, #000000);
    border-bottom-left-radius: 200px 75px;
    border-bottom-right-radius: 200px 75px;
    --background-size: 200% auto;
    animation: _ngcontent-ng-c2393436788_wave 10s infinite linear;

    ion-title {
      font-family: 'Playfair Display', serif;
      font-size: 1.0rem;
      color: white;
      text-align: center; /* Center the title text */
    }
    
  }
  
}

ion-searchbar {
  --box-shadow: rgba(0, 0, 0, 0);
  padding: 11px 11px;
  --background:#000000;
  --color: #ffffff; // Set input text color to black

  // Ensure the input text color is set to black
  input.searchbar-input {
    color: #ffffff; // Set input text color to black
  }
  input.searchbar-input.sc-ion-searchbar-md {
    border-radius: 100px;
    background: rgb(0, 0, 0);
}


  // Set other colors
  --icon-color: #ffffff; // Search icon color
  --placeholder-color: #fff; // Placeholder text color
}

  ion-item {
    --background: white;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    padding: 10px;
    border-radius: 0px;
    margin-bottom: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    ion-avatar {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      overflow: hidden;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    ion-label {
      font-size: 16px;
      font-weight: 500;
      color: #333;
      margin-left: 12px;
    }
  }



.img {
  width: 100%; /* Make the image take full width of the card */
  height: 200px;
  object-fit: cover; /* Ensure the image covers the space without stretching */
  border-bottom: 1px solid #ccc; /* Add border to the bottom of the image */
}

.card-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 50%); /* Two equal columns */
  gap: 0px; /* Adjust gap between cards */
  padding-bottom: 20%;
}

.card-item {
  display: flex;
  justify-content: center; /* Center card items horizontally */
}
.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.genre-icon {
  z-index: 20;
  position: absolute;
  top: 10px; /* Adjust position as needed */
  left: 10px; /* Adjust position as needed */
  width: 25px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  fill: currentColor; /* Apply the text color to the SVG */
  color: black;
}

.genre-icon .icon {
  width: 100%;
  height: auto;
}

ion-card {
  width: 100%; /* Ensure cards take up full width of their grid cell */
  border-radius: 30px 0px 30px 0px;
  --background: #fff;  
  box-shadow: 0px 3px 10px #00000069;
}

ion-card-content {
  width: 100%;
  text-align: center;
  padding: 12px;
  color: #000;
  font-weight: bold;
}

ion-card-content p {
  font-family: 'Playfair Display', serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}