ion-content {
  --background: #ffffff;
}
  ion-header {
    position: relative;
    overflow: hidden;
    border-radius: 0px 0px 80px 80px;
    // display: none;
    // visibility: hidden;
  
    ion-toolbar {
      border-radius: 0px 0px 80px 80px;
      --background: linear-gradient(to right, #000000, #000000);
      --background-size: 200% auto; /* Ensure the gradient is wider than the viewport */
      animation: wave 10s infinite linear;
  
      ion-title {
        color: white;
        text-align: center;
      }
    }
    .back-button {
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: #737373;
      border-radius: 40px;
      position: absolute;
      top: 5px;
      left: 31px;
      cursor: pointer;
      z-index: 10;
    
      .back-button-icon {
        display: flex;
        align-items: center;
    
        .svg-icon {
          width: 24px;
          height: 24px;
    
          svg {
            fill: #fff; /* Change the color of the icon */
            width: 100%;
            height: 100%;
            transform: scaleX(-1); /* Flip the SVG horizontally */
          }
        }
      }
    }
  }
  
  @keyframes wave {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: -100% 50%;
    }
  }
  
  
  ion-searchbar {
    --background: #ffffff; /* Replace with your desired background color */
    color: #000;
   
       
        overflow: hidden; padding-top: 10px;     margin-top: 4px;
  }

.brands{
    display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding-right: 13px;

}
.card-brand {
    width: 48%; /* Adjust as needed */
    margin-bottom: 20px;
   
    border-radius: 10px;
    overflow: hidden;
  }
  ion-card {
    width: 100%; /* Ensure cards take up full width of their grid cell */
    border-radius: 30px 0px 30px 0px;
    --background: #fff;  
    box-shadow: 0px 3px 10px #00000069;

  
  img{
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  }
