ion-content {
  --background: #ffffff;
}
ion-header {
  position: relative;
  overflow: hidden;
  border-radius: 0 0 80px 80px;

  ion-toolbar {
    border-radius: 0 0 80px 80px;
    --background: linear-gradient(to right, #000000, #000000);
    --background-size: 200% auto;
    animation: wave 10s infinite linear;

    ion-title {
      font-family: 'Playfair Display', serif;
      color: white;
      text-align: center;
    }
  }
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

// ion-searchbar {
//   --background: #ffffff;
//   color: #000;
//   border-radius: 20px;
//   margin: 16px;
// }

.notes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 16px; /* Gap between cards */
  padding-right: 20px;
}

.note-card {
  width: 100%; /* Full width of grid cell */
}

ion-card {
  width: 100%; /* Ensure cards take full width of their grid cell */
  border-radius: 30px 0px 30px 0px;
  --background: #fff;
  box-shadow: 0px 3px 10px #00000069;
}

ion-card-content {
  width: 100%;
  text-align: center;
  padding: 15px;
  color: #000;
  font-weight: bold;
}

ion-card-content p {
  font-family: 'Playfair Display', serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.img {
  padding-bottom: 15px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// @media screen and (min-width: 768px) {
//   .notes-grid {
//     grid-template-columns: repeat(2, 1fr); /* 2 cards per row on larger screens */
//   }
// }

// @media screen and (max-width: 767px) {
//   .notes-grid {
//     grid-template-columns: repeat(2, 1fr); /* 2 cards per row for tablets */
//   }
// }

// @media screen and (max-width: 480px) {
//   .notes-grid {
//     grid-template-columns: 1fr; /* 1 card per row for smaller screens */
//   }
// }
