ion-content {

  font-family: 'Playfair Display', serif;
  --background: #ffffff; /* Set the background color for the ion-content */
}

ion-header {
  font-family: 'Playfair Display', serif;
  height: 90px;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 200px 75px;
  border-bottom-right-radius: 200px 75px;

  ion-toolbar {
    display: flex;
    /* align-items: center; */
    position: relative;
    justify-content: center;
    height: 100%;
    --background: linear-gradient(to right, #000000, #000000);
    border-bottom-left-radius: 200px 75px;
    border-bottom-right-radius: 200px 75px;
    --background-size: 200% auto;
    animation: _ngcontent-ng-c2393436788_wave 10s infinite linear;

    ion-title {
      font-family: 'Playfair Display', serif;
      font-size: 1.3rem;
      color: white;
      text-align: center; /* Center the title text */
    }
  }
}
// ion-searchbar {
//   --background: #ffffff;
//   color: #000;
//   border-radius: 20px;
//   margin: 16px;
// }




.notes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 16px; /* Gap between cards */
  padding-right: 20px;
  padding-bottom: 20%;
}

.note-card {
  width: 100%; /* Full width of grid cell */
}

ion-card {
  width: 100%; /* Ensure cards take full width of their grid cell */
  border-radius: 30px 0px 30px 0px;
  --background: #fff;
  box-shadow: 0px 3px 10px #00000069;
}

ion-card-content {
  width: 100%;
  text-align: center;
  padding: 15px;
  color: #000;
  font-weight: bold;
}

ion-card-content p {
  font-family: 'Playfair Display', serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.img {
  padding-bottom: 15px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// @media screen and (min-width: 768px) {
//   .notes-grid {
//     grid-template-columns: repeat(2, 1fr); /* 2 cards per row on larger screens */
//   }
// }

// @media screen and (max-width: 767px) {
//   .notes-grid {
//     grid-template-columns: repeat(2, 1fr); /* 2 cards per row for tablets */
//   }
// }

// @media screen and (max-width: 480px) {
//   .notes-grid {
//     grid-template-columns: 1fr; /* 1 card per row for smaller screens */
//   }
// }
