ion-content {
  --background: #ffffff;
  
  
}
ion-header {
  position: relative;
  overflow: hidden;
  border-radius: 0px 0px 80px 80px;
  // display: none;
  // visibility: hidden;

  ion-toolbar {
    border-radius: 0px 0px 80px 80px;
    --background: linear-gradient(to right, #000000, #000000);
    --background-size: 200% auto; /* Ensure the gradient is wider than the viewport */
    animation: wave 10s infinite linear;

    ion-title {
      font-family: 'Playfair Display', serif;
      color: white;
      text-align: center;
    }
  }
  
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}




.settings-container {
  margin-top: 45px;
  padding: 20px;
  background-color: #ffffff;

  .section {
    margin-bottom: 40px;

    h3 {
      font-size: 1.4rem;
      margin-bottom: 15px;
      color: #333;
    }

    .input-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #eee;

      &:last-child {
        border-bottom: none;
      }

      label {
        font-size: 0.9rem;
        color: #666;
      }

      .input-value {
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: #000;

        ion-icon {
          margin-left: 10px;
          color: #666;
        }

        .flag-icon {
          width: 20px;
          height: 14px;
          margin-right: 5px;
        }
      }

      ion-toggle {
        --background: #ccc;
        --background-checked: #4caf50;
        --handle-background: #fff;
      }
    }
  }


    ion-button {
      width: 100%;
      padding: 15px;
      font-size: 1rem;
      color: #fff; 
      text-align: left;
      border: none;
      cursor: pointer;
      display: block;
  
    }
    .log-out{
      --background: #000000; // Dark gray background
      --color: #ffffff; // White text
      font-weight: bold;
    }
    .delete-account{
      --background: #8a3d3d; // Dark gray background
      --color: #ffffff; // White text
      font-weight: bold;
    }

  
}

.radar-chart-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #1b1b1b;
  border-radius: 50%;
  padding: 20px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.odor-labels {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.label {
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.label img {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

