ion-content {
  font-family: 'Playfair Display', serif;
  --background: #ffffff; /* Set the background color for the ion-content */
}

ion-header {
  font-family: 'Playfair Display', serif;
  height: 90px;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 200px 75px;
  border-bottom-right-radius: 200px 75px;

  ion-toolbar {
    display: flex;
    /* align-items: center; */
    position: relative;
    justify-content: center;
    height: 100%;
    --background: linear-gradient(to right, #000000, #000000);
    border-bottom-left-radius: 200px 75px;
    border-bottom-right-radius: 200px 75px;
    --background-size: 200% auto;
    animation: _ngcontent-ng-c2393436788_wave 10s infinite linear;

    ion-title {
      font-family: 'Playfair Display', serif;
      font-size: 1.0rem;
      color: white;
      text-align: center; /* Center the title text */
    }
  }
}



.settings-container {
  background-color: #ffffff;
  border-radius: 10px;

  .section {
    margin-bottom: 40px;

    h3 {
      padding: 20px;
      font-size: 1.6rem;
      color: #000000; /* White heading */
      text-align: center;
    }
    .input-container{
      width: auto;
    }
    .input-group {
      background-color: #f3f3f3;
      display: grid;
      grid-template-columns: 1fr auto; /* Two columns: label/input on the left, icon on the right */
      gap: 12px; /* Gap between grid items */
      align-items: center;
      padding: 10px 15px;
      border-bottom: 1px solid #ffffff; /* Optional border for each input group */
      
      .input-container {
        display: grid;
        grid-template-columns: 150px 1fr; /* Label takes up 150px, value takes the rest */
        gap: 10px;
        align-items: center;

        label {
          font-size: 1rem;
          color: #666; /* Lighter color for labels */
          font-weight: bold;
        }

        .input-value {
          font-size: 1rem;
          color: #000; /* Darker color for input values */
        }
      }

      ion-toggle {
        --background: #555;
        --background-checked: #ffffff; /* White checked background */
        --handle-background: #000000; /* Black handle */
      }
    }
  }

  /* Updated logout and delete buttons */
  ion-button {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
  }
  .section-account{
    padding: 20px;
    display: block;
  }
  .section-account h3{
    font-size: 1.6rem;
  }
  .account{
    padding: 10px;
  }
  .log-out {
    color: #000000;
    font-weight: 500;
  }

  .delete-account {
    color: #ab0000;
    font-weight: 500;
    padding-bottom: 90px;
  }
}
.section-div{
  border-top-left-radius: 200px 75px;
  border-top-right-radius: 200px 75px;
  text-align: center;
  justify-content: center;
  background-color: #000;
  display: block;
  height: auto;

}
.section-div h3{
  padding: 20px;
  font-size: 1.6rem;
  color: #ffffff; /* White heading */
}
.section-chart {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-container {
  position: relative;
  width: 100%;
  max-width: 400px; /* Adjust size based on your design */
  margin: 0 auto;
  height: auto;
  
  .chart-background {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }

  canvas {
    z-index: 10;
    position: absolute;
    top: 51%;
    left: 51%;
    transform: translate(-50%, -50%); /* Centers the canvas on the image */
    width: 100%;
    height: 100%;
    pointer-events: none; /* Disables pointer events on the canvas */
  }
  #likesRadarChart {
    width: 300px !important;
    height: 300px !important;
  }
  

}

.odor-labels {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.label {
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.label img {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.text{
  background-color: #00000000;
  border-left: #000;
}