<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="settings-container">
    <div class="section profile">
      <h3>Profile</h3>
      <div class="input-group">
        <label for="first-name">First Name</label>
        <div class="input-value">
          {{ userProfile.firstName || 'N/A' }}
          <ion-icon name="create-outline"></ion-icon>
        </div>
      </div>
      <div class="input-group">
        <label for="last-name">Last Name</label>
        <div class="input-value">
          {{ userProfile.lastName || 'N/A' }}
          <ion-icon name="create-outline"></ion-icon>
        </div>
      </div>
    </div>



    <div class="section account">
      <h3>Account</h3>
      <ion-button class="log-out" (click)="logout()">Log Out</ion-button>
      <ion-button class="delete-account" (click)="deleteAccount()">Delete My Account</ion-button>
    </div>
  </div>
</ion-content>
