<ion-content [fullscreen]="true">
    <div class="settings-container">
      <div class="section profile">
        <h3>Profile</h3>
        <div class="input-group">
          <label for="first-name">First Name</label>
          <div class="input-value">
            Yasiannab
            <ion-icon name="create-outline"></ion-icon>
          </div>
        </div>
        <div class="input-group">
          <label for="last-name">Last Name</label>
          <div class="input-value">
            Gahavg
            <ion-icon name="create-outline"></ion-icon>
          </div>
        </div>
        <div class="input-group">
          <label for="gender">Gender</label>
          <div class="input-value">
            Man
            <ion-icon name="create-outline"></ion-icon>
          </div>
        </div>
        <div class="input-group">
          <label for="age">Age</label>
          <div class="input-value">
            18
            <ion-icon name="create-outline"></ion-icon>
          </div>
        </div>
        <div class="input-group">
          <label for="language">Language</label>
          <div class="input-value">
            <img src="assets/flags/uk.png" alt="English Flag" class="flag-icon">
            English
            <ion-icon name="create-outline"></ion-icon>
          </div>
        </div>
        <div class="input-group">
          <label for="currency">Currency</label>
          <div class="input-value">
            € - EUR
            <ion-icon name="create-outline"></ion-icon>
          </div>
        </div>
      </div>
  
      <div class="section notification">
        <h3>Notifications</h3>
        <div class="input-group">
          <label for="brand-activity">Brand Activity</label>
          <ion-toggle checked></ion-toggle>
        </div>
        <div class="input-group">
          <label for="latest-news">Latest News</label>
          <ion-toggle></ion-toggle>
        </div>
      </div>
  
      <div class="section account">
        <h3>Account</h3>
        <button class="log-out">Log Out</button>
        <button class="delete-account">Delete My Account</button>
      </div>
    </div>
  </ion-content>
  