<ion-header>
  <ion-toolbar>
    <button class="back-button"  routerLink="/tabs/tab1">
      <div class="back-button-icon">
        <span class="svg-icon">
          <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg" style="transform: scaleX(-1);">
            <path
              d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
            ></path>
          </svg>
        </span>
      </div>
    </button>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="Rechercher" style="margin-top: 25px;">
    <ion-searchbar placeholder="Recherche" [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

    <!-- Products results -->
    <ion-list *ngIf="showResults">
      <ion-item lines="none" *ngFor="let product of products">
        <ion-avatar slot="start" (click)="clickCard(product.id)">
          <img [src]="product.image" alt="{{ product.name }}">
        </ion-avatar>
        <ion-label>{{ product.name }}</ion-label>
      </ion-item>
    </ion-list>

    <!-- Brands grouped by letters -->
    <div class="brands">
      <div class="group" *ngFor="let group of brandsGroupedByLetter">
        <h2>{{ group.letter }}</h2> <!-- Display letter -->
    
        <div class="card-brand-container">
          <div class="card-brand" *ngFor="let brand of group.brands">
            <ion-card (click)="clickBrand(brand.nom)">
              <img [src]="brand.brand" alt="{{ brand.nom }}">
            </ion-card>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</ion-content>
