<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-searchbar placeholder="Recherche" [debounce]="1000" (ionInput)="handleInput($event)" ></ion-searchbar>

    <!-- Products results -->
    <ion-list *ngIf="showResults">
      <ion-item lines="none" *ngFor="let product of products">
        <ion-avatar slot="start" (click)="clickCard(product.id)">
          <img [src]="product.image" alt="{{ product.name }}">
        </ion-avatar>
        <ion-label>{{ product.name }}</ion-label>
      </ion-item>
    </ion-list>

    <!-- Brands grouped by letters -->
    <div class="brands">
      <div class="group" *ngFor="let group of brandsGroupedByLetter">
        <h2>{{ group.letter }}</h2> <!-- Display letter -->
    
        <div class="card-brand-container">
          <div class="card-brand" *ngFor="let brand of group.brands">
            <ion-card (click)="clickBrand(brand.nom)">
              <img [src]="brand.brand" alt="{{ brand.nom }}">
            </ion-card>
          </div>
        </div>
      </div>
    </div>
    
</ion-content>
