ion-content {
    --background: #ffffff; /* Light, neutral background for a premium feel */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden;
    overflow: hidden;
  }
  ion-header {
    position: relative;
    overflow: hidden;
    border-radius: 0px 0px 80px 80px;
    // display: none;
    // visibility: hidden;
  
    ion-toolbar {
      border-radius: 0px 0px 80px 80px;
      --background: linear-gradient(to right, #000000, #151512);
      --background-size: 200% auto; /* Ensure the gradient is wider than the viewport */
      animation: wave 10s infinite linear;
  
      ion-title {
        color: white;
        text-align: center;
      }
    }
  }
  
  @keyframes wave {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: -100% 50%;
    }
  }
  
  ion-searchbar{
    --background: #ffffff; /* Light, neutral background for a premium feel */
    color: black;
  }
  