<ion-content [fullscreen]="true" class="custom-background">
  <swiper-container
    #swiperContainer
    [slidesPerView]="1"
    [spaceBetween]="10"
    [autoplay]="autoPlayConfig"
    (slideChange)="onSlideChange()"
    class="swiper-container"
  >
    <swiper-slide *ngFor="let page of pages">
      <div class="page">
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ page.title }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <div class="image">
          <img [src]="page.image" alt="">
        </div>
        <p>{{ page.description }}</p>
      </div>
    </swiper-slide>
  </swiper-container>

  <ion-progress-bar [value]="progressValue" class="progress-bar"></ion-progress-bar>

  <div class="button-container">
    <ion-button expand="block" color="light" routerLink="/login">Log In</ion-button>
    <ion-button expand="block" color="dark" routerLink="/register">Register</ion-button>
  </div>
</ion-content>