
.swiper-container {
  width: 100%;
  height: 90%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.progress-bar {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

ion-content {
  --background: #ffffff; 
    color: #000;
    text-align: center;
  
}


.button-container {
  display: flex;
  justify-content: space-between;
  padding: 27px;
  background-color: #e8e8e8;
  border-top-right-radius: 100px 100px;
  border-top-left-radius: 100px 100px;
}

ion-button {
  flex: 1;
  margin: 0 8px;
  --border-radius: 8px;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

ion-button[color="light"] {
  --background: #ffffff;
  --color: #000000;
  font-weight: bold;
}

ion-button {
  --background: #000000;
  --color: #ffffff;
  font-weight: bold;
}

ion-header {
  position: relative;
  overflow: hidden;
  border-radius: 0px 0px 80px 80px;
  // display: none;
  // visibility: hidden;

  ion-toolbar {
    border-radius: 0px 0px 80px 80px;
    --background: linear-gradient(to right, #000000, #000000);
    --background-size: 200% auto; /* Ensure the gradient is wider than the viewport */
    animation: wave 10s infinite linear;

    ion-title {
      color: white;
      text-align: center;
    }
  }
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scroll-wrapper {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

.scroll-item {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 20px;
  transition: transform 0.5s ease-in-out;
}

.page {
  text-align: center;

  h2 {
    color: black;
    font-weight: bold;
  }

  p {
    color: black;
    font-weight: 600;
    margin-top: 70px;
    padding: 20px;
    
  }
}

.progress-bar {
  position: absolute;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 13%;
  --background: #f0f0f0;  
  --progress-background: #000;  
}





 



.image img {
  max-width: 100%;
    height: 50vh;
  animation: flipIn 1s ease-in-out; /* Apply the flipIn animation */
}

@keyframes flipIn { 
  0% { 
    transform: rotateY(-180deg) scale(0.5); 
    opacity: 0; 
  } 
  100% { 
    transform: rotateY(0deg) scale(1); 
    opacity: 1; 
  } 
}
