<ion-content [fullscreen]="true">

  <!-- Spinner Overlay -->
  <div class="spinner-overlay" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div class="video-container">
    <video loop autoplay muted width="100%" height="auto" preload="metadata" class="custom-video">
      <source src="assets/home/home.mp4" type="video/mp4">
    </video>
  </div>

  <div class="button-container">
    <img src="assets/home/logo.png">
    <ion-text>Trouvez le parfum signature que vous préférez</ion-text>
      <ion-button expand="block" class="white-button" routerLink="/login">Log In</ion-button>
      <ion-button expand="block" class="black-button" routerLink="/register">Register</ion-button>
    </div>

</ion-content>
